<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yazi: </title>
  </head>
  <body>
    <h1>Baslik: <%= baslik %> </h1>
    <p>Sayfa sayisi: <%= sayfa%></p>
    <p>Yorum: <%= yazar %></p>

    <a class="navbar-brand" href="/">uitgever</a>
    <a href="/iletisim">İletişim</a>  |  <a href="/giris">Giriş Yap</a> | <a href="/profil">Profil</a>
    | <a href="/yazi">Yazi</a> | <a href="/kitap">Kitap</a>  |  <a href="/boek">Boek</a>


  </body>
</html>
